gunicorn==20.1.0
Flask==1.1.2
Flask-Bcrypt==1.0.1
Flask-Bootstrap==3.3.7.1
Flask-CKEditor==0.4.6
Flask-Compress==1.12
Flask-Gravatar==0.5.0
Flask-Login==0.6.1
Flask-Mail==0.9.1
Flask-SocketIO==5.2.0
Flask-SQLAlchemy==2.5.1
Flask-SSLify==0.1.5
Flask-Uploads==0.2.1
Flask-WTF==1.0.1
future==0.18.2
h5py==2.10.0
HeapDict==1.0.1
jdcal==1.4.1
json5==0.9.5
legacy==0.1.6
llvmlite==0.36.0
locket==0.2.1
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.3.0
mkl-random==1.2.1
mkl-service==2.3.0
mpmath==1.2.1
multipledispatch==0.6.0
mypy-extensions==0.4.3
pathspec==0.7.0
patsy==0.5.1
peewee==3.14.10
pefile==2021.9.3
pep8==1.7.1
pewee==0.1.0.dev9
pkginfo==1.7.0
ply==3.11
polygon-api-client==1.0.2
prettytable==2.5.0
py==1.10.0
pycoingecko==2.2.0
pycosat==0.6.3
pycurl==7.43.0.6
PyJWT==2.3.0
pyreadline==2.1
pytest==6.2.3
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==20.0.0
QDarkStyle==2.8.1
QtPy==1.9.0
repoze.lru==0.7
requests==2.25.1
Routes==2.5.1
scikit-image==0.18.1
selenium==3.141.0
simplegeneric==0.8.1
SQLAlchemy==1.4.7
tables==3.6.1
tblib==1.7.0
terminado==0.9.4
twilio==7.8.2
unicodecsv==0.14.1
urllib3==1.26.9
visitor==0.1.3
webencodings==0.5.1
websockets==10.3
Werkzeug==1.0.1
widgetsnbextension==3.5.1
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.12.1
WTForms==3.0.1
xlwings==0.23.0
xlwt==1.3.0
xmltodict==0.12.0
zict==2.0.0
zope.event==4.5.0
