{{data}}
{% extends 'layout.html'%}
{% block content %}

<center><h1 class="bronze" style="color:#FFEE63">Gold  Plan</h1></center>

<div class="cta">
    <center><p>
        Invest ksh300,000 and Ksh500,000 to earn 20% on daily basis payable to your mpesa for 90 days.
    </p></center>
    <p>
    <center> <b><h1>How to Invest</h1></b></p><br>

Go to Mpesa menu on your phone.<br>

Choose Lipa na Mpesa<br>

Enter Buy Goods and Services Till Number<br>

<img class="floatingimage" src={{"static/images/mpesa.png"}} alt="iphone-mockup"  width="40%" height="40%">
    </p></center>
</div>
<div>

   <center> <button> Buy Shares Now</button></center>

</div>
{% endblock %}