
{% extends 'layout.html' %}
{% block content %}
 <center><h1 class="bronze" style="color:#F0EBE3">Silver  Plan</h1></center>

<div class="cta">
    <center><p>
       Invest any amount between ksh100,001 and ksh 299,999 to earn 15% on daily basis for 90 days.
    </p></center>
    <p>
    <center> <b><h1>How to Invest</h1></b></p><br>

Go to Mpesa menu on your phone.<br>

Choose Lipa na Mpesa<br>

Enter Buy Goods and Services Till Number<br>

<img class="floatingimage" src={{"static/images/mpesa.png"}} alt="iphone-mockup"  width="40%" height="40%">
    </p></center>
</div>
<div>

   <center> <button> Buy Shares Now</button></center>

</div>
{% endblock %}